html,
body {
  padding: 0;
  margin: 0;
  font-family: Calibri;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.form-login .card {
  min-width: 450px;
}

.form-login .card form {
  margin-top: 2rem;
}

.form-login .card .field {
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 960px) {
  .form-login .card {
    width: 80%;
  }
}

@media screen and (max-width: 640px) {
  .form-login .card {
    width: 100%;
    min-width: 0;
  }
}

.sidebar-component {
  position: absolute;
  height: 100%;
  width: 200px;
}
.sidebar-component .p-tree {
  border: none;
  font-size: 14px;
}

.content-component {
  height: 100vh;
  background-color: #EEE;
}

/* DataTableDemo.css */

.datatable-crud-demo .table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 960px) {
  .datatable-crud-demo .table-header {
      align-items: flex-start;
  }
}
.datatable-crud-demo .product-image {
  width: 100px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.datatable-crud-demo .p-dialog .product-image {
  width: 150px;
  margin: 0 auto 2rem auto;
  display: block;
}
.datatable-crud-demo .confirmation-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 960px) {
  .datatable-crud-demo .p-toolbar {
      flex-wrap: wrap;
  }
  .datatable-crud-demo .p-toolbar .p-button {
      margin-bottom: 0.25rem;
  }
  .datatable-crud-demo .table-header {
      flex-direction: column;
  }
  .datatable-crud-demo .table-header .p-input-icon-left, .datatable-crud-demo .table-header input {
      width: 100%;
  }
}